<%= form_with model: @students do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :Age %><br>
    <%= f.number_field :age %>
  </p>
  
  <p>
    <%= f.label :Father_name %><br>
    <%= f.text_field :father_name %>
  </p>

  <p>
    <%= f.label :Phone_number %><br>
    <%= f.text_field :Phone_number %>
  </p>

  <p>
    <%= f.label :Email %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :Blood_group %><br>
    <%= f.text_field :Blood_group %>
  </p>
 
  <p>
    <%= f.submit  class: "button"%>
  </p>
<% end %>