
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<!--<div class="form-container border border-black">-->
<!--  <img src="/assets/pic1.jpg" class="rounded" alt="...">-->
<div class="h3 my-4 container d-flex justify-content-center text-dark-emphasis border-bottom border-success">
  Edit Student
</div>

<div class=" container justify-content-canter align-middle border border-info my-4  shadow p-3 mb-5 bg-success-subtle">
  <div class="d-flex justify-content-end">
    <%= link_to  students_path,  class: "btn btn-outline-primary" do %>
      <i class="bi bi-x"></i>
    <% end %>
  </div>
  
  <%= form_with(model: @student,url: student_path(@student), :method => 'patch', local: true) do |f| %>
    <!-- Background image -->
<div class=" row">
  <div class=" col my-4 mb-2">
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true, class: 'form-control border-success  ' %>
    </div>
    <div  class="col my-4 mb-2">
      <%= f.label :age %><br>
      <%= f.number_field :age, in: 1..61, required: true, class: "form-control  border-success " %>
    </div>
</div>

    <div class= "row">
      <div  class= " col mb-2">
        <%= f.label :father_name %><br>
        <%= f.text_field :father_name, requried: true, class: "form-control  border-success"  %>
      </div>
      <div class= " col mb-2" >
        <%= f.label :phone_number %><br>
        <%= f.telephone_field :phone_number, pattern: '[0-9]{11}', maxlength: 11, placeholder:"xxxx-xxxxxxx", class: "form-control border-success "%>
      </div>
    </div>
    <div class= "row">
      <div class= " col mb-2">
        <%= f.label :email %><br>
        <%= f.email_field :email, class: "form-control  " %>
      </div>
      <div class=" col  mb-2">
        <%= f.label :guardian_no %><br>
        <%= f.telephone_field :guardian_no, class: "form-control  " %>
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <%= f.label :date_of_birth %><br>
        <%= f.date_field :date_of_birth, order: [:day, :month, :year], start_year: Date.today.year - 100, end_year: Date.today.year, class: "form-control  border-success " %>
      </div>
      <div class= "col mb-2">
        <%= f.label :gender %><br>
        <%= f.select :gender, (['Male', 'Female']), {promot: :"select for gender"} ,{ class: "form-select  border-success"}%>
      </div>
    </div>

    <div class="row">
     <div class="col mb-2">
       <%= f.label :blood_group %><br>
       <%= f.select :blood_group, ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'], { prompt: 'Select blood group' }, { class: 'form-select  border-success ' } %>
      <%#= f.select :blood_group, (['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']), {placeholder: 'Select blood group'}, {class: 'from-select'} %>
     </div>

     <div class="col dropdown mb-2">
       <%= f.label :section_name %><br>
       <%#= f.select :section_id, options_for_select(Section.all.map { |s| [s.name, s.id] }), class: "form-control" %>
       <%= f.collection_select :section_id, Section.all, :id, :name, { prompt: 'Select section_name' }, { class: 'form-select  border-success ' } %>
     </div>
    </div>

    <div class="d-flex justify-content-center">
      <%= f.submit ('update'), class: "btn btn-outline-success d-grid gap-2 col-3 mx-auto " %>
    </div>
  <% end %>
<!--</div>-->
</div>
</body>
</html>








