
<div class="students Edit">
<h2>Update Student</h2>

  <%= form_with(model: @student,url: student_path(@student), :method => 'patch', local: true) do |f| %>
   <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </p>  
  <p>
    <%= f.label :age %><br>
    <%= f.number_field :age, in: 1..61, required: true, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :father_name %><br>
    <%= f.text_field :father_name, requried: true, class: "form-control"  %>
  </p>
  <p>
    <%= f.label :phone_number %><br>
    <%= f.telephone_field :phone_number, pattern: '[0-9]{11}', maxlength: 11, placeholder:"xxxx-xxxxxxx", class: 'form-control' %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p class="form-group">
    <%= f.label :guardian_no %><br>
    <%= f.telephone_field :guardian_no %>
  <p>
  <p class="form-group">
    <%= f.label :date_of_birth %><br>
    <%= f.date_field :date_of_birth, order: [:day, :month, :year], start_year: Date.today.year - 100, end_year: Date.today.year %>
  </p>
  <p class="form-group">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select(['Male', 'Female'])%>
  </p>
  <p>
    <%= f.label :blood_group %><br>
    <%= f.select :blood_group, options_for_select(['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']), placeholder: 'Select blood group'%>
  </p>
  
  <p class="dropdown">
    <%= f.label :section_name %><br>
    <%= f.select :section_id, options_for_select(Section.all.map { |s| [s.name, s.id] }) %>
  </p>
  <p>
    <%= f.submit ('update student') %>
  </p>
<% end %>
<button class="btn btn-primary" onclick="location.href='<%= students_path %>'" role="button"> Back to list </button>

