
<div class="students show">
<h2>Show Student</h2>

<table summary="students detail view">
	
  	<tr>
		<th>Name</th>
		<td><%= @student.name %></td>    		
	</tr>
	<tr>
		<th>Age</th>
		<td><%= @student.age %></td>
	</tr>
	<tr>
		<th>Father_name</th>
		<td><%= @student.father_name %></td>
	</tr>
	<tr>	
		<th>Phone_number</th>
		<td><%= @student.phone_number %></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= @student.email %></td>
	</tr>
	<tr>
		<th>Guardian_no</th>
		<td><%= @student.guardian_no %></td>
	</tr>
	<tr>
		<th>Date_of_Birth</th>
         <td> <!-- here i cannot get issue   --> -->
        	<% if @student.date_of_birth.present? %>
   			  <%= @student.date_of_birth.strftime("%d-%m-%y") %>
  			<% else %>
              N/A
            <% end %>
		</td>
	</tr>
	<tr>
		<th>Gender</th>
		<td><%= @student.gender %></td>
	</tr>
  	<tr>
		<th>Blood_group</th>
		<td><%= @student.blood_group %></td>
	</tr>
</table>
<button class="btn btn-primary" onclick="location.href='<%= students_path %>'" role="button"> Back to list </button>
<br>
<h1>Section detail</h1>
<table>
	<tr>
		<th>Secotion ID</th>
		<td><%= @student.name %></td>
	</tr>
	<tr>
		<th>Secotion name</th>
		<td><%= @student.section&.name %></td>
	</tr>
	<tr>
		<th>Student limits</th>
		<td><%= @student.section&.student_range %></td>
	</tr>
</table>
</div>
<button class="btn btn-primary" onclick="location.href='<%= students_path %>'" role="button"> Back to list </button>
<!-- <= link_to("Back to list", '/students/index', :class => 'form-button' ) %> -->
