<%= link_to("Back to list", '/students/index', :class => 'form-button' ) %>

<div class="students show">
<h2>Show Student</h2>

<table summary="students detail view">
	
  	<tr>
		<th>Name</th>
		<td><%= @student.name %></td>    		
	</tr>
	<tr>
		<th>Age</th>
		<td><%= @student.age %></td>
	</tr>
	<tr>
		<th>Father_name</th>
		<td><%= @student.father_name %></td>
	</tr>
	<tr>	
		<th>Phone_number</th>
		<td><%= @student.phone_number %></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= @student.email %></td>
	</tr>
	<tr>
		<th>Blood_group</th>
		<td><%= @student.blood_group %></td>
	</tr>
	<tr>
		<th>Created</th>
		<td><%= @student.created_at %></td>
	</tr>
	<tr>
		<th>Updated</th>
		<td><%= @student.updated_at %></td>
	</tr>
</table>
</div>