edit.html.erb

<div class="Teachers Edit">
<h2>Update Student</h2>

  <%= form_with(model: @teacher,url: teacher_path(@teacher), :method => 'patch', local: true) do |f| %>
   <div class="form-group"> 
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :phone_number,'Phone Number', class: 'control-label' %><br>
    <%= f.text_field :phone_number, pattern: '[0-9]{11}', maxlength: 12, placeholder: 'xxxx-xxxxxx', class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :email %><br>
	<%= f.email_field :email%>
</div>

<div class="form-group">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select(['Male', 'Female']), prompt: 'Select Gender'%>
</div>

<div class="form-group">
    <%= f.label :date_of_birth %><br>
    <%= f.date_field :date_of_birth , placeholder: 'day-month-year' %>
</div>

<div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address , class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :qualification %><br>
  <%= f.select :qualification, options_for_select([ 'Matriculation',
    'Intermediate',
    'Bachelor\'s Degree',
    'Master\'s Degree',
    'Doctorate',
    'Diploma',
    'Professional Degree'], selected: nil), prompt: 'Select Qualification', class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, placeholder: "Teach Subject", maxlength: 10 %>
</div>

<div class="form-button">
    <%= f.submit ('create teacher') %>
</div>
<% end %>
<button class="btn btn-primary" onclick="location.href='<%= teacher_path %>'" role="button"> Back to list </button>

