<br>
<h3>Hello, Rails!
<span style="float: right;">
    <%= link_to "Create Teacher ", new_teacher_path, class: "btn btn-xs btn-primary" %>
</span></h3>
<!-- <style>
  .table td{
    padding-right: 2px; /* Adjust the desired amount of space */
  }
  .table th {
    padding-right: 10px; /* Adjust the desired amount of space */
  }
  table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
</style>
 -->
<table class="table table-bordered">
<thead>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Gender</th>
		<th>Date of Birth</th>
		<th>Address</th>
		<th>Qualifications</th>		
		<th>Subject</th>
		<th scope="col">Show</th>
    <th scope="col">Edit</th>	
    <th scope="col">Delete</th>
	</tr>
</thead>
<tbody>
	  	<% @teachers.each do |teacher|%>
	  	<tr>
	  		<td><%= teacher.id  %></td>
    		<td><%= teacher.name %></td>    		
    		<td><%= teacher.phone_number %></td>
    		<td><%= teacher.email %></td>
    		<td><%= teacher.gender %></td>
    		<td><%= teacher.date_of_birth %></td>
    		<td><%= teacher.address %></td>
    		<td><%= teacher.qualification %></td>
    		<td><%= teacher.subject %></td>
    		<td class="actions">
    			<%= link_to 'Show', teacher_path(teacher), :class => 'btn btn-primary' %>		
    		</td>
    		<td class="actions">	
    				<%= link_to("Edit", edit_teacher_path(teacher), :data => { confirm: "Are you sure you want to Edit this teacher?" }, class: 'btn btn-info' ) %>
    			</td>
    			<!-- <td class="actions">
    			     <= link_to 'Delete', teacher_path(teacher), method: :delete, data: { confirm: 'Are you sure you want to delete this teacher?' } %>
    			</td>
    			 -->
  				<td class="actions">
      				<%= button_to 'Delete', teacher_path(teacher), method: :delete, data: { confirm: 'Are you sure you want to delete this teacher?' }, class: 'btn btn-danger', form: { class: 'd-inline' } %>
					</td>

	  	</tr>
		<%end%>
</tbody>
</table>